<template>
  <div>
    <div class="container mb-5 mt-4">
      <div class="title">
        <h1 class="section-title">{{project.title}}</h1>
        <!--<p class="subtitle"><a class="subtitle__link" href=""></a></p>-->
      </div>
      <div class="project__part mt-5" v-html="project.full_desc"></div>

      <div class="project__part mt-5">
        <span class="horizontal-separator"></span>
        <p>Хотите современный сайт, сервис, мобильное приложение или нужно другое решение для вашего бизнеса? Заполните краткий бриф либо позвоните нам и мы составим его вместе с Вами: <a href="tel: +7 (863) 231-44-70">+7
        (863) 231-44-70</a></p>
        <nuxt-link :to="{name: 'brief'}" class="primary-button mt-4">Заполнить бриф</nuxt-link>
      </div>
    </div>
    <related-items type="projects" :items="related" col="col-md-4" title="Еще несколько проектов"></related-items>
  </div>
</template>

<script>
  import RelatedItems from '../../components/RelatedItems';

  export default {
    components: {RelatedItems},
    async asyncData({app, error, params}) {
      return await app.$axios.get(`https://api.vozduh.media/projects/${params.id}/`).then(response => {
        return {project: response.data}
      }).catch(() => {
        error({ statusCode: 404})
      })
    },
    computed: {
      related () {
        // Убираем текущий проект из списка похожих
        return this.$store.state.projects.filter(item => item.slug !== this.$route.params.id)
          .sort((a, b) => {
            return Math.random() - 0.5;
          }).slice(0,3)
      }
    },
    head() {
      let title = this.project.seo_title !== null ? this.project.seo_title : this.project.title;
      return {
        title: title + ' | Vozduh Media',
        meta: [
          { hid: 'description', name: 'description', content: this.project.seo_desc },
          { property: 'og:title', content: title + ' | Vozduh Media' },
          { property: 'og:description', content: this.project.seo_desc },
        ],
      }
    }

  }
</script>
