<template>
  <div class="projects">
    <div class="container">
      <h1 class="section-title">Проекты</h1>
      <b-nav class="portfolio-nav mb-4 justify-content-center">
        <b-nav-item v-for="item in variety" :key="item.slug" :data-toggle="`.${item.slug}`">{{ item.title }}</b-nav-item>
      </b-nav>
    </div>
    <div id="projects-grid">
      <project-item
        v-for="(item, index) in $store.state.projects"
        :key="index"
        :title="item.title"
        :description="item.short_desc"
        :bg="item.background"
        :class="item.variety"
        :slug="item.slug"
        :reverse="item.reverse"
        :light="item.light"
      ></project-item>
    </div>
  </div>
</template>

<script>
  import ProjectItem from '../../components/ProjectItem'

  let mixitup

  if (process.browser) {
    mixitup = require('mixitup')
  }

  export default {

    data() {
      return {
        mixer: null,
      }
    },

    async asyncData({ app  }) {
      let variety =  await app.$axios.get('https://api.vozduh.media/projects/variety/')
      return { variety: variety.data }
    },

    components: {
      ProjectItem
    },

    mounted() {
      this.mixer = mixitup(document.querySelector('#projects-grid'), {
        selectors: {
          target: '.project'
        },
        animation: {
          enable: false
        }
      });
    },
    beforeDestroy() {
      this.mixer.destroy()
      document.querySelector('.main-nav').classList.remove('blue')
    },
    head () {
      return {
        title: 'Проекты | Vozduh Media'
      }
    }
  }
</script>
