<template>
  <footer class="main-footer align-items-sm-end">

    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col">
          <p class="footer__address">
            г. Ростов-на-Дону<br>ул. Социалистическая 53<br><a href="tel:+7 (863) 231-44-70" class="main-footer__link">+7 (863)
            231-44-70</a>
          </p>
        </div>
        <div class="col">
          <a href="#" class="mouse-scroll-bottom" v-scroll-to="{el: 'body'}">
            <img class="mouse-scroll-bottom__img" src="../assets/img/logo.png">
          </a>
        </div>
        <div class="col">
          <nuxt-link :to="{name: 'brief'}" class="primary-button float-right">Заполнить бриф</nuxt-link>
        </div>
        <div class="col-12 text-center mt-4">
          <p>Digital-Agency “Vozduh Media”</p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: "main-footer"
  }
</script>
