<template>
  <div class="main-nav sticky-top">
    <div class="container">
      <b-navbar toggleable="md">
        <button class="navbar-toggler" :class="{active: showNav}" type="button" @click="show = !show">
          <span class="navbar-toggler__icon"></span>
        </button>

        <transition name="slide">
          <b-navbar-nav class="ml-auto" v-if="showNav">
            <b-nav-item :to="{name: 'index'}" :exact="true" data-aos="fade-left" data-aos-delay="50">Компания</b-nav-item>
            <b-nav-item :to="{name: 'projects'}" :exact="true"  data-aos="fade-left" data-aos-delay="100">Проекты</b-nav-item>
            <b-nav-item :to="{name: 'cases'}" data-aos="fade-left" :exact="true"  data-aos-delay="150">Кейсы</b-nav-item>
            <b-nav-item :to="{name: 'services'}" data-aos="fade-left" :exact="true"  data-aos-delay="200">Услуги</b-nav-item>
            <b-nav-item :to="{name: 'vacancy'}" data-aos="fade-left" :exact="true"  data-aos-delay="250">Вакансии</b-nav-item>
            <b-nav-item :to="{name: 'contacts'}" :exact="true"  data-aos="fade-left" data-aos-delay="300">Контакты</b-nav-item>
          </b-navbar-nav>
        </transition>

      </b-navbar>
    </div>
  </div>
</template>

<script>
  export default {
    name: "main-nav",
    data() {
      return {
        show: false,
        screenWidth: null,
      }
    },
    computed: {
      showNav() {
        return this.show || !this.isMobile()
      }
    },
    methods: {
      isMobile() {
        if (this.screenWidth < 768) {
          return true
        } else {
          this.show = false
          return false
        }
      }
    },
    mounted() {
      this.screenWidth = window.screen.width
      window.addEventListener('resize', () => {
        this.screenWidth = window.screen.width
      })
      this.$router.beforeEach((to, from, next) => {
        this.show = false
        setTimeout(next, 300)
      })
    },
  }
</script>
