<template>
  <nuxt-link :to="`/${link.name}/${link.slug}`" class="card portfolio-item">
    <div class="card-img-top"><img v-lazy="image" :alt="title"></div>
    <div class="card-body">
      <h5 class="card-title" v-html="title"></h5>
      <div class="card-text" v-html="description"></div>
      <span class="card-link">Подробнее</span>
    </div>
  </nuxt-link>
</template>

<script>
  export default {
    name: "portfolio-item",
    props: {
      title: {
        type: String,
      },
      image: {
        type: String,
      },
      description: {
        type: String
      },
      link: {
        type: Object,
      }
    }
  }
</script>
