<template>
  <div class="project" :class="{'reversed': reverse, 'light': light}" v-lazy:background-image="bg">
    <div class="container">
      <div class="row align-items-center">
        <div :class="{'offset-md-8': reverse}" class="col-md-4">
          <div class="project__info">
            <h2 class="project__info__title"><nuxt-link :to="`projects/${slug}/`" class="project__info__link" v-html="title"></nuxt-link></h2>
            <div class="project__info__description" v-html="description"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "project-item",
    props: {
      title: {
        type: String
      },
      bg: {
        type: String
      },
      description: {
        type: String
      },
      slug: {
        type: String
      },
      reverse: {
        type: Boolean
      },
      light: {
        type: Boolean
      }
    }
  }
</script>
