<template>
  <section class="related align-items-center">
    <div class="container">
      <h2 class="section-title">{{ title }}</h2>
      <p class="section-subtitle mb-4">Мы любим работать с интересными задачами!</p>
      <div class="row">
        <portfolio-item
          v-for="item in items"
          :key="item.slug"
          :title="item.title"
          :image="item.thumbnail"
          :description="item.short_desc"
          :link="{name: type, slug: item.slug}"
          :class="col"
        ></portfolio-item>
      </div>
    </div>
  </section>
</template>

<script>
  import PortfolioItem from './PortfolioItem'

  export default {
    name: "related-items",
    components: {PortfolioItem},
    props: {
      items: {
        type: Array
      },
      title: {
        type: String
      },
      col: {
        type: String
      },
      type: {
        type: String
      }
    },
  }
</script>
