<template>
  <div class="carousel-item">
    <div class="testimonial">
      <p>{{ text }}</p>
    </div>
  </div>
</template>

<script>
    export default {
        name: "testimonial",
        props: {
          text: {
            type: String
          }
        }
    }
</script>
