@import "../fonts/roboto/stylesheet.css";

:root {
  --main-color: #00b7f4;
  --secondary-color: #2980b9;
}

html, body {
  height: 100%;
  font-family: "Roboto", serif;
  background: #f7f7f7;
}

a, a:hover, a:focus {
  color: var(--main-color)
}

p {
    font-size: 19px;
    line-height: 1.6;
    font-weight: 300;

}

h5, h2 {
      font-size: 25px;
      font-weight: bold;
      line-height: 1.1;
      margin-bottom: 16px;
}

section {
  overflow: hidden;
  display: flex;
}

strong {
  font-weight: 600;
}

#app, #__layout, #__nuxt {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.row-reverse {
  flex-direction: row-reverse;
}

.top {
  min-height: calc(100vh - 56px);
  background-color: var(--main-color);
  position: relative;
  clip-path: polygon(50% 0, 100% 0, 100% 77%, 50% 100%, 0% 77%, 0 0);
}

/*.top::after {*/
  /*content: '';*/
  /*width: 100%;*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*border-style: solid;*/
  /*border-width: 30vmin 50vw 0 50vw;*/
  /*border-color: transparent #f7f7f7 transparent #f7f7f7;*/
/*}*/

.main-nav {
  background-color: var(--main-color)
}

.main-nav a {
  color: #ffffff !important;
}

.main-nav a.active {
  font-weight: bold;
}

.navbar {
  margin: auto;
  padding: .5rem 0;
}

.navbar-toggler {
  border: none;
  padding: .5rem 0;
  position: relative;
  width: 34px;
  height: 34px;
}

.navbar-toggler__icon {
  display: block;
  position: absolute;
  top: 17px;
  left: 1px;
  right: 1px;
  height: 4px;
  background: #ffffff;
}

.navbar-toggler__icon:before, .navbar-toggler__icon:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ffffff;
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;

}

.navbar-toggler__icon:before {
  top: -13px;
  transition-property: top, transform;
}

.navbar-toggler__icon:after {
  bottom: -13px;
  transition-property: bottom, transform;
}

.navbar-toggler.active .navbar-toggler__icon {
  background: none;
}

.navbar-toggler.active .navbar-toggler__icon:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar-toggler.active .navbar-toggler__icon:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header {
  color: #fff;
  margin-bottom: 70px;
}

.header__desc {
  font-size: 2rem;
  margin: 2rem 0 2rem -15px;
}

.header__title {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 300;
}

.mouse-scroll {
  position: absolute;
  display: block;
  bottom: 40px;
  transition: all .5s;
  z-index: 10;
  margin-left: -10px;
}

.mouse-scroll:hover {
  transform: translateY(20px);
}

.mouse-scroll__img {
  width: 100px;
}

.mouse-scroll-bottom {
  display: block;
  text-align: center;
  transition: all .5s;

}

.mouse-scroll-bottom:hover {
  transform: translateY(-20px);
}

.mouse-scroll-bottom__img {
  width: 100px;
}

.separator {
  margin: 0 10px;
  color: var(--secondary-color);
}

.horizontal-separator {
  display: block;
  border-bottom: 3px solid var(--secondary-color);
  width: 100px;
  margin-bottom: 15px;
}

.section-title {
  position: relative;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 20px;
  margin: 1.5rem 0 1.5rem -2px;
  font-weight: 600;
}

.section-title::after {
  content: '';
  border-bottom: 3px solid var(--secondary-color);
  width: 100px;
  position: absolute;
  bottom: -10px;
  left: 2px;
}

.section-subtitle {
  color: #4a4a4a;
}

.portfolio {
  position: relative;
  background-color: #f7f7f7;
  margin: 30px 0;
}

.portfolio-filter > .nav-item > .nav-link {
  color: var(--secondary-color);
  padding: 3px 3px 3px 0;
}

.portfolio-filter > .nav-item.active {
  font-weight: bold;
}

.portfolio-nav > .nav-item > .nav-link {
  color: #4a4a4a;
  margin: 10px 10px 0 10px;
  border-radius: 3px;
  padding-left: 0;
}

.portfolio-nav > .nav-item > .nav-link:first-child {
  margin-left: 0;
}

.portfolio-nav > .nav-item > .nav-link:last-child {
  margin-right: 0;
}

.projects .portfolio-nav > .nav-item > .nav-link{
  text-align: center;
  margin: 0;
  padding: 10px 10px 0;
}

.portfolio-item {
  border: 0;
  margin-bottom: 20px;
  color: #000000;
}

.portfolio-item:hover, .portfolio-item:focus {
  color: #000000;
  text-decoration: none;
}

.portfolio-item > .card-body {
  padding: 10px 0;
}

.portfolio-item > .card-title {
  text-align: center;
  padding: 15px 0;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

}

.portfolio-item > .card-img-top {
  overflow: hidden;
  border-radius: 0;
  height: 200px;
}

.portfolio-item > .card-img-top > img{
  display: block;
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: top;
  transition: transform .3s;
}

.portfolio-item:hover > .card-img-top > img{
  transform: scale(1.1, 1.1);
}

.portfolio-item > .card-body > .card-link {
  display: inline;
  font-weight: bold;
  color: var(--secondary-color);
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .3s;
}

.portfolio-item > .card-body > .card-link:hover {
  border-bottom: 1px solid var(--secondary-color);
}

.partners {
  background: #212121 url("../img/world-atlas.png") no-repeat center;
  padding: 100px 0;
}

.partners .section-title {
  color: #fff;
  margin-bottom: 100px;
}

.partners .section-title::after {
  border-color: #f7f7f7;
}

.partners__img {
  display: block;
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
}

.partners .carousel {
  margin-top: 50px;
}

.testimonial {
  width: 70%;
  margin: auto;
  color: #fff;
  text-align: center;
}

.cases {
  padding: 70px 0;
}

.main-footer {
  display: flex;
  position: relative;
  background-color: #212121;
  min-height: 350px;
  color: #fff;
  overflow-x: hidden;
  flex: 0 0 auto;
  clip-path: polygon(50% 40%, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 0 0%);
}

.main-footer__link {
  color: #fff;
}

.main-footer__link:hover, .main-footer__link:focus {
  color: #fff;
}

.primary-button {
  display: block;
  height: 40px;
  line-height: 40px;
  background-color: var(--main-color);
  color: #fff;
  width: 150px;
  text-align: center;
  border: none;
  transition: all .3s;
}

.primary-button:hover, .primary-button:focus {
  color: #fff;
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  text-decoration: none;
  cursor: pointer;
}

.twentytwenty-container .twentytwenty-overlay {
  display: none;
}

.twentytwenty-container .twentytwenty-arrow-right {
  bottom: 15px !important;
  left: 17px !important;
}

.twentytwenty-container .twentytwenty-arrow-left {
  top: 5px !important;
  left: 5px !important;
}

.subtitle__link {
  color: #000;
  text-decoration: underline;
}

.project__part__title {
  font-weight: bold;
}

.project__part__description {
  font-size: 18px;
}

.mixitup-control-active {
  font-weight: bold;
}

.contact-form__part__title {
  font-weight: bold;
}

.contact-form__input, .title-underline {
  padding: 10px 5px;
  border: none;
  border-bottom: 2px solid #000;
  width: 100%;
  color: #666;
  border-radius: 0;
  margin-bottom: 20px;
  background: #f7f7f7;
}

.custom-control:hover, .custom-control-label:hover,
.custom-control-input:hover, .custom-file-input:hover,
.custom-file-label:hover {
  cursor: pointer !important;
}

.contact-form__input:focus {
  box-shadow: none;
  border-color: var(--main-color);
  background: #f7f7f7;
}

.contact-form__input:invalid {
  box-shadow: none;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
  background-color: var(--main-color) !important;
}

.custom-file-label::after {
  content: "Обзор" !important;
  border-radius: 0;
  border-left: 1px solid #000;
  background-color: #f7f7f7;
  color: #000;
}

.custom-file-label {
  border-radius: 0;
  border: 1px solid #000;
}

.custom-file-label, .custom-file {
  max-width: 300px;
  background: #f7f7f7;
}


.contact-form__part .btn-group .btn + .btn {
  margin-left: 10px;
}

.contact-form__part .btn-group {
  flex-wrap: wrap;
}

.contact-form__part .btn-primary-outline {
  background-color: #f7f7f7;
  border-color: #000;
}

.contact-form__part .btn-primary-outline.active{
  background-color: var(--main-color) !important;
  border-color: var(--main-color);
  color: #ffffff;
}

.contact-form__part .btn-primary-outline.focus {
  box-shadow: none;
}


/*input.contact-form__input::placeholder {*/
/*transition: transform .3s;*/
/*}*/

/*input.contact-form__input:focus.contact-form__input::placeholder {*/
/*transform: translateX(80%);*/
/*}*/

.projects {
}

.projects .section-title {
  text-align: center;
}

.projects .section-title::after {
  left: calc(50% - 50px);
}

.project {
  position: relative;
  background: var(--main-color) no-repeat top center;
  background-size: cover;
  color: #fff;
}

.project.light {
  color: #333;
}

.project.light .project__info__link {
  color: #333;
  border-bottom-color: #333;
}

.project .row {
  margin: 0;
  min-height: 70vh;
}

.project__overlay {
  background: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project__img {
  display: block;
  margin-top: 2rem;
  max-width: 100%;
  max-height: 100%;

}

.project__info {
  margin: 2rem 0;
}

.project__info__title {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.6;
}

.card-title-link {
  color: inherit;
}

.card-title-link:hover {
  color: inherit;
  text-decoration: none;
}

.project__info__description {

}

.project__info__link {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.project__info__link:hover {
  color: inherit;
  text-decoration: none;
}

.project__info__link:focus {
  color: inherit;
  text-decoration: none;
}

.card-title {
  font-weight: bold;
}

.portfolio-item {
  background: transparent;
}

.related {
  padding: 70px 0 30vh 0;
  margin-bottom: -30vh;
  background-color: #212632;
  position: relative;
}

.related .section-title, .related .section-subtitle, .examples-work .service__item__title, .examples-work .section-title, .examples-work .section-subtitle {
  color: #fff;
}

.related .section-title:after, .examples-work .section-title::after {
  border-color: #fff;
}

.related .portfolio-item, .examples-work .portfolio-item {
  color: #fff;
}

.none-transform {
  text-transform: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: all .3s cubic-bezier(.65, .05, .36, 1);
}

.slide-enter, .slide-leave-active {
  margin-right: -100%;
}

.view-site {
  color: #ffffff!important;
  border-bottom: 1px dashed #ffffff;
  display: none;
}
.linkweb {
  color: #00b7f4!important;
  border-bottom: 1px dashed #00b7f4;
  text-decoration: none;
}
.linkweb:hover{
	text-decoration: none;
}

.view-site:hover {
  color: #ffffff;
  text-decoration: none;
}

.project .view-site {
  display: inline;
}

.projects .project:last-child {
  padding-bottom: 30vh;
  margin-bottom: -30vh;
}

.project.light .view-site {
  color: #000000!important;
  border-bottom-color: #000000;
}

.project.light .view-site:hover {
  color: #000000!important;
}

.vue-map-container {
  width: 100%;
  height: 60vh;
  margin-top: 4rem;
  margin-bottom: -25vh;
}

.privacy h5 {
  font-weight: 500;
}

.privacy ul {
  list-style: none;
}

.title-underline {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.6;
  border-bottom: 1px solid #000;
}

.vacancy__item {
}

.vacancy__item__title, .service__item__title {
  font-size: 20px;
  color: #666;

}

.vacancy__item__list, .service__item__list {
  list-style-image: url("../img/hyphen.png");
  padding-left: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #666;
  line-height: 30px;
}

.vacancy__item__text, .service__item__text {
  color: #666;
  font-size: 20px;
  font-weight: 300;
}

.text-underline {
  text-transform: uppercase;
  font-size: 30px;
  border-bottom: 1px solid #000;
  color: #666;
  padding-bottom: 20px;
}

.text-underline__small {
  font-size: 22px;
  text-transform: none;
  font-weight: 300;
}

.vacancy__item__collapse__text {
  position: relative;
  display: inline;
  padding-right: 35px;
}


.vacancy__item__collapse__text::before{
  position: absolute;
  content: '';
  width: 24px;
  height: 4px;
  background-color: #666;
  right: 0;
  top: 15px;
}

.vacancy__item__collapse.collapsed > .vacancy__item__collapse__text::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 24px;
  background-color: #666;
  right: 10px;
  top: 5px;
}

.vacancy__item__collapse:hover, .vacancy__item__collapse:focus {
  text-decoration: none;
  color: #666;
  border-bottom: 1px solid #000;
}

.row-full{
  width: 100vw;
  position: relative;
  margin-left: calc(-50vw - 15px);
  left: 50%;
  display: flex;
  flex-wrap: wrap;
}

.examples-work {
  padding: 20px 0 70px;
  background-color: #212632;
}

@media screen and (max-width: 767px) {

  .header__desc {
    font-size: 1.3rem;
    margin-left: 0;
  }

  .project {
    background-position: left;
  }

  .project.reversed {
    background-position: right;
  }

  .navbar-nav {
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: var(--main-color);
    width: 250px;
    padding: .5rem 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .top {
    clip-path: none;
  }

  .main-footer {
    height: auto;
    padding-top: 40px;
    clip-path: none;
  }

  .main-footer-bottom {
    display: none;
  }

  .contact-form__part .btn-primary-outline {
    margin-left: 10px !important;
    margin-top: 10px;
  }

  .contact-form__part .btn-group .btn + .btn {
    margin-left: 0;
  }

  .vue-map-container {
    margin-bottom: -25px;
  }
}

@media screen and (max-width: 991px) {
  .header__title {
    font-size: 2rem;
  }

  .header__desc {
    font-size: 1.3rem;
  }

}

@media screen and (min-width: 1920px) {
  .main-footer {
    min-height: 40vh;
  }

}

