<template>
  <div id="app">
    <div class="content">
      <main-nav></main-nav>
      <nuxt/>
    </div>
    <main-footer></main-footer>
    <img src="https://mc.yandex.ru/watch/48981425" style="position:absolute; left:-9999px;" alt="" />
  </div>
</template>

<script>
  import MainNav from '../components/MainNav'
  import MainFooter from '../components/MainFooter'

  export default {
    components: {
      MainNav, MainFooter
    },
    mounted () {
        (function(w,d,u){
          var s=d.createElement('script');s.async=1;s.src=u+'?'+(Date.now()/60000|0);
          var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://cdn.bitrix24.ru/b4455457/crm/site_button/loader_2_kb3lin.js');
    }
  }
</script>
