<template>
  <div class="container">
    <h1 class="section-title">Заполнить бриф</h1>
    <p class="lead">Хотите современный сайт, сервис, мобильное приложение или нужно другое решение для вашего бизнеса?
      Заполните краткий бриф либо позвоните нам и мы составим его вместе с Вами: <a href="tel: +7 (863) 231-44-70">+7
        (863) 231-44-70</a></p>
    <div class="contact-form mt-5 mb-5">
      <b-alert :variant="alertVariant" :show="alertShow">{{alertText}}</b-alert>
      <form @submit="formSend">
        <div class="contact-form__part">
          <div class="row">
            <div class="col-sm-6">
              <b-form-input type="text" v-model="info.name" placeholder="Имя"
                            class="contact-form__input" :required="true"></b-form-input>
            </div>
            <div class="col-sm-6">
              <b-form-input type="text" v-model="info.company" placeholder="Компания"
                            class="contact-form__input" :required="true"></b-form-input>
            </div>
            <div class="col-sm-6">
              <b-form-input type="tel" v-mask="'+7 (###) ###-##-##'" masked="true" v-model="info.phone"
                            placeholder="Телефон"
                            class="contact-form__input" :required="true"></b-form-input>
            </div>
            <div class="col-sm-6">
              <b-form-input type="email" v-model="info.email" placeholder="Email"
                            class="contact-form__input" :required="true"></b-form-input>
            </div>
          </div>
        </div>
        <div class="contact-form__part">
          <h4 class="contact-form__part__title my-4">Типы проектов</h4>
          <b-form-checkbox-group buttons button button-variant="primary-outline" v-model="info.typeProject" :options="typesOptions" name="typeProject">
          </b-form-checkbox-group>
        </div>
        <div class="contact-form__part">
          <h4 class="contact-form__part__title my-4">Услуги</h4>
          <b-form-checkbox-group buttons button button-variant="primary-outline" v-model="info.service" :options="servicesOptions" name="service">
          </b-form-checkbox-group>
        </div>
        <div class="contact-form__part">
          <h4 class="contact-form__part__title my-4">Задача</h4>
          <b-form-textarea placeholder="Описание"
                           :rows="3"
                           :max-rows="6"
                           v-model="info.taskDesc"
                           class="contact-form__input" :required="true">
          </b-form-textarea>
          <b-form-file v-model="info.file" placeholder="Прикрепить файл..."></b-form-file>
        </div>
        <div class="contact-form__part">
          <h4 class="contact-form__part__title my-4">Бюджет</h4>
          <b-form-radio-group buttons button button-variant="primary-outline" v-model="info.budget" :options="budgetOptions" :required="true">
          </b-form-radio-group>
        </div>
        <input type="submit" class="primary-button mt-5" value="Отправить"/>
        <p class="contact-form__part mt-5">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с <nuxt-link :to="{name: 'privacy'}">политикой конфиденциальности</nuxt-link>.</p>
      </form>
    </div>
  </div>
</template>

<script>
  import {mask} from 'vue-the-mask'

  export default {
    directives: {mask},
    data() {
      return {
        info: {
          name: null,
          company: null,
          phone: null,
          email: null,
          file: '',
          taskDesc: null,
          typeProject: [],
          service: [],
          budget: null,
        },
        typesOptions: [
          {text: 'Сайт', value: 'Сайт'},
          {text: 'Web-сервис', value: 'Web-сервис'},
          {text: 'Мобильное приложение', value: 'Мобильное приложение'},
          {text: 'Другое', value: 'Другое'}
        ],
        servicesOptions: [
          {text: 'Разработка', value: 'Разработка'},
          {text: 'Продвижение', value: 'Продвижение'},
          {text: 'Поддержка', value: 'Поддержка'},
          {text: 'Дизайн', value: 'Дизайн'},
          {text: 'Креатив', value: 'Креатив'},
          {text: 'SMM', value: 'SMM'}
        ],
        budgetOptions: [
          {text: 'До 100 тыс.', value: 'До 100 тыс.'},
          {text: '100-500 тыс.', value: '100-500 тыс.'},
          {text: '0,5-1 млн.', value: '50,5-1 млн.'},
          {text: 'Более 1 млн.', value: 'Более 1 млн.'},
        ],
        alertShow: false,
        alertText: null,
        alertVariant: null,
      }
    },
    methods: {
      formSend(e) {
        e.preventDefault()
        let formData = new FormData()
        Object.keys(this.info).forEach(key => formData.append(key, this.info[key]));
        this.$axios.post('https://api.vozduh.media/engine/contacts/send/', formData)
          .then((response) => {
            e.target.reset()
            this.alertShow = true
            this.alertText = 'Ваше сообщение успешно отправлено!'
            this.alertVariant = 'success'
            this.$scrollTo('body')
            Object.keys(this.info).forEach(key => this.info[key] = '');
          })
          .catch((error) => {
            this.alertShow = true
            this.alertText = 'При отправки сообщения произошла ошибка! Повторите попытку позже.'
            this.alertVariant = 'danger'
            this.$scrollTo('body')
          });
      }
    },
    head() {
      return {
        title: 'Заполнить бриф | Vozduh Media'
      }
    }
  }
</script>
