<template>
  <div>
    <div class="container">
      <h1 class="section-title">Удивлены, что сайт Студии так быстро работает?</h1>
      <div class="contacts__text">
        <p class="lead">В целом это не просто сайт, а веб-приложение, разработанное с использованием современных
          технологий и принципов дизайна, переход между страницами осуществляется мгновенно и без перезагрузки.</p>
        <p class="lead">Хотите современный сайт, сервис, мобильное приложение или нужно другое решение для вашего
          бизнеса?
          Заполните краткий бриф либо позвоните нам и мы составим его вместе с Вами: <a href="tel: +7 (863) 231-44-70">+7
            (863) 231-44-70</a></p>
        <nuxt-link :to="{name: 'brief'}" class="primary-button mt-4">Заполнить бриф</nuxt-link>
      </div>
    </div>
    <gmap-map :center="{lat: 47.218880, lng: 39.7072600}" :zoom="17"
              :options="{styles: styles, disableDefaultUI: true}">
      <gmap-marker :position="{lat: 47.218880, lng: 39.7072600}" :icon="markerIcon" :clickable="true"
                   @click="infoWinOpen = !infoWinOpen">
      </gmap-marker>
      <gmap-info-window :position="{lat: 47.218880, lng: 39.7072600}" :opened="infoWinOpen"
                        @closeclick="infoWinOpen=false">
        <div v-html="infoContent"></div>
      </gmap-info-window>
    </gmap-map>
  </div>
</template>

<script>

  export default {
    data() {
      return {
        styles: [
          {
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#1d2c4d"
              }
            ]
          },
          {
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#8ec3b9"
              }
            ]
          },
          {
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "color": "#1a3646"
              }
            ]
          },
          {
            "featureType": "administrative.country",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#4b6878"
              }
            ]
          },
          {
            "featureType": "administrative.land_parcel",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#64779e"
              }
            ]
          },
          {
            "featureType": "administrative.province",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#4b6878"
              }
            ]
          },
          {
            "featureType": "landscape.man_made",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#334e87"
              }
            ]
          },
          {
            "featureType": "landscape.natural",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#023e58"
              }
            ]
          },
          {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#283d6a"
              }
            ]
          },
          {
            "featureType": "poi",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#6f9ba5"
              }
            ]
          },
          {
            "featureType": "poi",
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "color": "#1d2c4d"
              }
            ]
          },
          {
            "featureType": "poi.park",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#023e58"
              }
            ]
          },
          {
            "featureType": "poi.park",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#3C7680"
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#304a7d"
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#98a5be"
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "color": "#1d2c4d"
              }
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#00b7f4"
              }
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#00b7f4"
              }
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#00b7f4"
              }
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "color": "#00b7f4"
              }
            ]
          },
          {
            "featureType": "transit",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#00b7f4"
              }
            ]
          },
          {
            "featureType": "transit",
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "color": "#00b7f4"
              }
            ]
          },
          {
            "featureType": "transit.line",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#00b7f4"
              }
            ]
          },
          {
            "featureType": "transit.station",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#00b7f4"
              }
            ]
          },
          {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#0e1626"
              }
            ]
          },
          {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#4e6d70"
              }
            ]
          }
        ],
        markerIcon: 'mark.png',
        infoWinOpen: false,
        infoContent: '<h3 style="font-size: 14px;">Vozduh.Media</h3> <p style="font-size: 13px;">ул. Думенко 1/3<br>Ростов-на-Дону<br>Ростовская обл., Россия<br>344045</p>',
      }
    },
    head() {
      return {
        title: 'Контакты | Vozduh Media',
      }
    },
  }
</script>
