<template>
  <div>
    <section class="top justify-content-center align-items-center">
      <div class="container" data-aos="fade-up">
        <div class="row header">
          <div class="col-md-8">
            <h1 class="header__title"><strong>Комплексное продвижение</strong> товаров и услуг в интернете!</h1>
          </div>
          <div class="offset-md-6 col-md-6">
            <p class="header__desc">
              Digital агенство Vozduh Media
            </p>
          </div>
        </div>
      </div>
      <a href="#" v-scroll-to="{el: '.portfolio', offset: -70}" class="mouse-scroll">
        <img class="mouse-scroll__img" src="../assets/img/logo.png">
      </a>
    </section>
    <section class="portfolio">
      <div class="container">
        <h2 class="section-title" data-aos="fade-up">Проекты</h2>
        <b-nav class="portfolio-filter" data-aos="fade-up">
          <b-nav-item :class="{active: (showFilterType && showFilterBranch)}"
                      @click="showFilterType = true; showFilterBranch = true;">Все
          </b-nav-item>
          <span class="separator">|</span>
          <b-nav-item :class="{active: (showFilterBranch && !showFilterType)}"
                      @click="showFilterType = false; showFilterBranch = true;">Отрасль >
          </b-nav-item>
          <span class="separator">|</span>
          <b-nav-item :class="{active: (!showFilterBranch && showFilterType)}"
                      @click="showFilterType = true; showFilterBranch = false;">Тип >
          </b-nav-item>
        </b-nav>
        <b-nav class="portfolio-nav" id="portfolio-filter-branch" data-aos="fade-up" v-show="showFilterBranch">
          <b-nav-item v-for="item in branches" :key="item.slug" :data-toggle="`.${item.slug}`">{{ item.title }}
          </b-nav-item>
        </b-nav>
        <b-nav class="portfolio-nav" id="portfolio-filter-type" data-aos="fade-up" v-show="showFilterType">
          <b-nav-item v-for="item in types" :key="item.slug" :data-toggle="`.${item.slug}`">{{ item.title }}
          </b-nav-item>

        </b-nav>

        <div class="row mt-4" id="grid">
            <portfolio-item
              v-for="item in $store.state.projects"
              :key="item.slug"
              :title="item.title"
              :image="item.thumbnail"
              :description="item.short_desc"
              :class="[item.type, item.branch, 'col-md-6 col-lg-4']"
              :link="{name: 'projects', slug: item.slug}"
            ></portfolio-item>
        </div>
      </div>
    </section>
    <section class="partners" v-once>
      <div class="container">
        <h2 class="section-title none-transform" data-aos="fade-up">В разное время, нам посчастливилось работать и
          продолжить работу с
          ведущими компаниями региона и мира!</h2>
        <div class="row align-items-center" data-aos="fade-up">
          <div class="col-md-4">
            <img src="../assets/img/nestle.png" alt="" class="partners__img">
          </div>
          <div class="col-md-4">
            <img src="../assets/img/ali.png" alt="" class="partners__img">
          </div>
          <div class="col-md-4">
            <img src="../assets/img/sfedu.png" alt="" class="partners__img">
          </div>
        </div>
        <!--<b-carousel controls id="testimonial-carousel" @sliding-start="onSlideStart"-->
                    <!--@sliding-end="onSlideEnd" v-model="slide" data-aos="fade-up">-->
          <!--<testimonial class="active"-->
                       <!--text="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type"></testimonial>-->
          <!--<testimonial-->
            <!--text="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type"></testimonial>-->
          <!--<testimonial-->
            <!--text="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type"></testimonial>-->
        <!--</b-carousel>-->
      </div>
    </section>
    <section class="cases">
      <div class="container">
        <h2 class="section-title" data-aos="fade-up">Рекламные кейсы</h2>
        <p class="section-subtitle mb-5" data-aos="fade-up">Коротко о том, как достигается результат</p>
        <div class="row" data-aos="fade-up">
            <portfolio-item
              class="col-md-6"
              v-for="item in $store.state.cases"
              :key="item.slug"
              :title="item.title"
              :image="item.thumbnail"
              :description="item.short_desc"
              :link="{name: 'cases', slug: item.slug}"
            ></portfolio-item>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import PortfolioItem from '../components/PortfolioItem'
  import Testimonial from '../components/Testimonial'

  let mixitup;

  if (process.browser) {
    mixitup = require('mixitup')
  }
  export default {
    components: {
      PortfolioItem,
      Testimonial,
    },
    async asyncData({app}) {
      let types = await app.$axios.get('https://api.vozduh.media/projects/types/')
      let branches = await app.$axios.get('https://api.vozduh.media/projects/branches/')
      return {types: types.data, branches: branches.data}
    },
    data() {
      return {
        slide: 0,
        sliding: null,
        mixer: null,
        showFilterBranch: true,
        showFilterType: true,
      }
    },
    computed: {
      resource: function() {
        return this
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      },
    },
    mounted() {
      let grid = document.querySelector('#grid')

      this.mixer = mixitup(grid, {
        selectors: {
          target: '.portfolio-item'
        },
        animation: {
          duration: 400
        }
      });
    },
    beforeDestroy() {
      this.mixer.destroy();
    },
    head () {
      return {
        title: 'Digital агенство Vozduh Media'
      }
    }
  }

</script>
