<template>
  <div class="container">
    <h1 class="section-title">Политика конфиденциальности</h1>
    <div class="privacy">
      <h5>1. Определения</h5>
      <ul>
        <li>
          1.1. Условия Соглашения регулируют отношения и и содержат следующие определения:
          <ul>
            <li>1.1.1. Оферта — настоящий документ (Соглашение), размещенный в сети Интернет по адресу:
              https://vozduh.media/
            </li>
            <li>1.1.2. Правообладатель — индивидуальный предприниматель (), разместивший(ая) оферту.</li>
            <li>1.1.3. Интернет-сайт — совокупность веб-страниц, размещенных на виртуальном сервере и образующих единую
              структуру, расположенных в сети Интернет по адресу: https://vozduh.media/.
            </li>
            <li>1.1.4. Контент — информация, представленная в текстовом, графическом, аудиовизуальном (видео) форматах
              на
              Сайте,
              являющаяся его наполнением. Контент Сайта распределяется на основной – пользовательский, и вспомогательный
              –
              административный, который создает Правообладатель для облегчения функционирования Сайта, включая интерфейс
              Сайта.
            </li>
            <li>1.1.5. Простая (неисключительная) лицензия — неисключительное право Пользователя использовать результат
              интеллектуальной деятельности, указанный в п. 2.1 Соглашения, с сохранением за Правообладателем права
              выдачи
              лицензий другим лицам.
            </li>
          </ul>
        </li>
      </ul>
      <h5>2. Предмет Соглашения</h5>
      <ul>
        <li>2.1. Настоящее Соглашение определяет условия и порядок использования результатов интеллектуальной
          деятельности,
          в
          том числе элементов контента Веб-сайта, расположенного в сети Интернет по адресу: https://vozduh.media/ (далее
          по
          тексту — Сайт), ответственность Сторон и другие особенности функционирования Сайта и взаимоотношений
          Пользователей
          Сайта с Праообладателем, а также друг с другом.
        </li>
        <li>2.2. Правообладатель гарантирует, что он является правообладателем исключительных прав на Сайт.</li>
      </ul>
      <h5>3. Персональные данные и политика конфиденциальности</h5>
      <ul>
        <li>3.1. Для выполнения условий Соглашения Пользователь соглашается предоставить и дает согласие на обработку
          персональных данных в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных» на
          условиях и для целей надлежащего исполнения Соглашения. Под «персональными данными» понимается персональная
          информация, которую предоставляет о себе самостоятельно для совершения акцепта.
        </li>
        <li>3.2. Правообладатель гарантирует конфиденциальность в отношении персональных данных и не предоставляет
          доступ к
          персональным данным третим лицам. Также обязуется сохранять конфиденциальность всех сведений, полученных от
          Пользователей, независимо от содержания таких сведений и способов их получения.
        </li>
        <li>3.3. Полученная информация (персональные данные) не подлежит разглашению, за исключением случаев, когда ее
          раскрытие является обязательным по законодательству Российской Федерации или необходимо для работы Сайта и его
          функций.
        </li>
      </ul>
      <h5>4. Ответственность сторон</h5>
      <ul>
        <li>4.1. Стороны несут ответственность за неисполнение или ненадлежащее исполнение своих обязательств в
          соответствии
          с
          условиями Соглашения и законодательством России.
        </li>
        <li>4.2. Правообладатель не принимает на себя ответственность за соответствие Сайта целям использования.</li>
        <li>4.3. Правообладатель не несет ответственности за технические перебои в работе Сайта. Вместе с тем
          Правообладатель
          обязуется принимать все разумные меры для предотвращения таких перебоев.
        </li>
        <li>4.4. Правообладатель не несет ответственности за любые действия Пользователя, связанные с использованием
          предоставленных прав использования Сайта; за ущерб любого рода, понесенный Пользователем из-за утери и/или
          разглашения своих данных либо в процессе использования Сайта.
        </li>
        <li>4.5. В случае если какое-либо третье лицо предъявляет Правообладателю претензию в связи с нарушением
          Пользователем
          Соглашения либо действующих законодательных норм, нарушением Пользователем прав третьих лиц (в том числе прав
          на
          интеллектуальную собственность), Пользователь обязуется компенсировать Правообладателю все расходы и потери, в
          том
          числе оплатить любые компенсации и прочие затраты, связанные с такой претензией.
        </li>
      </ul>
      <h5>5. Разрешение споров</h5>
      <ul>
        <li>5.1. Претензионный порядок досудебного урегулирования споров, вытекающих из настоящего Соглашения, является
          для
          Сторон обязательным.
        </li>
        <li>5.2. Претензионные письма направляются Сторонами нарочным либо заказным почтовым отправлением с уведомлением
          о
          вручении по адресу местонахождения Стороны.
        </li>
        <li>5.3. Направление Сторонами претензионных писем иным способом, чем указано в п. 4.2 Соглашения, не
          допускается.
        </li>
        <li>5.4. Срок рассмотрения претензионного письма составляет 7 рабочих дней со дня получения последнего
          адресатом.
        </li>
        <li>5.5. Споры по настоящему Соглашению разрешаются в судебном порядке.</li>
      </ul>
      <h5>6. Заключительные положения</h5>
      <ul>
        <li>6.1. Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Российской Федерации.
          Вопросы, не урегулированные настоящим Соглашением, подлежат разрешению в соответствии с законодательством
          Российской Федерации. Все возможные споры, вытекающие из отношений, регулируемых настоящим Соглашением,
          разрешаются в порядке, установленном действующим законодательством Российской Федерации, по нормам российского
          права. Везде по тексту настоящего Соглашения под термином «законодательство» понимается законодательство
          Российской Федерации.
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    name: "privacy",
    head() {
      return {
        title: 'Политика конфиденциальности | Vozduh Media'
      }
    }
  }
</script>
