<template>
  <div class="container" id="services">
    <h1 class="section-title">Услуги</h1>
    <div class="service__item mt-5">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-underline">SMM<br><span class="text-underline__small">Привлечение трафика и внимания к бренду через социальные сети (vk, instagram, facebook)</span>
          </h2>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <h5 class="service__item__title">Этапы нашей работы:</h5>
          <ul class="service__item__list">
            <li>Формируется медиаплан исходя из анализа рынка и предложенной стратегии.</li>
            <li>Согласно медиаплану происходит создание и публикация контента(посты с текстом, фото и видео материалами).</li>
            <li>В это же время идёт запуск РК(рекламная компания) в социальной сети по ЦА(целевой аудитории) для получения лидов. Лиды это Ваши потенциальные клиенты, например заявка на покупку, запись на приём, запрос на обратный звонок и т.д.</li>
            <li>Попутно в социальной сети организуются конкурсы, опросы и акции для увеличения активности.</li>
            <li>Далее проводится работа по управлению репутацией, сбору обратной связи от подписчиков, мониторингу отзывов и ответы на вопросы пользователей.</li>
            <li>Затем проводится анализ эффективности контента и рекламных компаний исходя из которого формируется новый медиаплан и рекламные компании.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h5 class="service__item__title">Стоимость</h5>
          <ul class="service__item__list">
            <li>Одна социальная сеть на выбор 8000 рублей в месяц</li>
            <li>Две социальные сети на выбор 14000 рублей в месяц</li>
            <li>Три социальные сети на выбор 18000 рублей в месяц</li>
          </ul>
        </div>
        <div class="col-12">
          <p class="service__item__text">
            Подробнее об услуге в нашем блоге.
          </p>
        </div>
      </div>
      <div class="examples-work row-full mt-5">
        <div class="container">
          <div class="row">
            <div class="col-12 mb-5">
              <h2 class="section-title">Примеры работ</h2>
            </div>
            <portfolio-item
              class="col-md-6"
              v-for="item in cases"
              :key="item.slug"
              :title="item.title"
              :image="item.thumbnail"
              :description="item.short_desc"
              :link="{name: 'cases', slug: item.slug}"
            ></portfolio-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import PortfolioItem from '../components/PortfolioItem'

  export default {
    name: "services",
    components: {
      PortfolioItem,
    },
    data() {
      return {
        cases: this.$store.state.cases.sort((a, b) => {
          return Math.random() - 0.5;
        }).slice(2)
      }
    },
    head() {
      return {
        title: 'Услуги | Vozduh.media'
      }
    }
  }
</script>

<style scoped>

</style>
