<template>
  <div class="container" id="vacancy">
    <h1 class="section-title">Вакансии</h1>
    <b-alert :variant="alertVariant" :show="alertShow">{{alertText}}</b-alert>
    <div class="vacancy__item mt-5">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-underline">SMM-менеджер</h2>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <h5 class="vacancy__item__title">Требования к кандидату</h5>
          <ul class="vacancy__item__list">
            <li>разработка стратегии присутствия компании в социальных сетях и составление медиапланов;</li>
            <li>ведение рекламных компаний;</li>
            <li>поиск, создание и размещение контента(тексты, изображение, видео, аудио и другие);</li>
            <li>управление репутацией и сбор обратной связи от подписчиков, мониторинг отзывов и ответы на вопросы;
            </li>
            <li>организация и проведение конкурсов, опросов и акций;</li>
            <li>работа с профильными программами и сервисами;</li>
            <li>анализ эффективности рекламных компаний и SMM-продвижения.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h5 class="vacancy__item__title">Мы предлагаем</h5>
          <ul class="vacancy__item__list">
            <li>оформление по ТК РФ;</li>
            <li>стабильная зарплата + премии;</li>
            <li>перспектива карьерного и профессионального роста;</li>
            <li>корпоративное обучение и бонусы;</li>
            <li>возможность совмещения работы в офисе с удаленной работой по индивидуальному графику;</li>
            <li>предусмотрены тестовые задания и оплачиваемый испытательный срок;</li>
            <li>размер заработной платы обсуждается отдельно с каждым кандидатом, исходя из его квалификации.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="vacancy__item mt-5">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-underline">SEO-специалист</h2>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <h5 class="vacancy__item__title">Требования к кандидату</h5>
          <ul class="vacancy__item__list">
            <li>аудит проектов, внутренняя и внешняя оптимизация сайтов;</li>
            <li>знание принципов ранжирования поисковых систем и опыт успешного продвижение сайтов;</li>
            <li>работа с ссылочными и статейными биржами;</li>
            <li>знание инструментов веб-аналитики (Google Analytics, Яндекс.Метрики) и SEO сервисов;</li>
            <li>оценка эффективности продвижения ресурса, анализ статистики и ведение отчетности.;</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h5 class="vacancy__item__title">Мы предлагаем</h5>
          <ul class="vacancy__item__list">
            <li>оформление по ТК РФ;</li>
            <li>стабильная зарплата + премии;</li>
            <li>перспектива карьерного и профессионального роста;</li>
            <li>корпоративное обучение и бонусы;</li>
            <li>возможность совмещения работы в офисе с удаленной работой по индивидуальному графику;</li>
            <li>предусмотрены тестовые задания и оплачиваемый испытательный срок;</li>
            <li>размер заработной платы обсуждается отдельно с каждым кандидатом, исходя из его квалификации.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row pt-5 mb-5">
      <div class="col-12">
        <h2 class="vacancy__item__title">Заполните форму и мы с Вами свяжемся</h2>
        <div class="contact-form">
          <form @submit="formSend">
            <div class="contact-form__part">
              <div class="row">
                <div class="col-sm-6">
                  <b-form-input type="text" v-model="info.name" placeholder="Имя"
                                class="contact-form__input" :required="true"></b-form-input>
                </div>
                <div class="col-sm-6">
                  <b-form-input type="tel" v-mask="'+7 (###) ###-##-##'" masked="true" v-model="info.phone"
                                placeholder="Телефон"
                                class="contact-form__input" :required="true"></b-form-input>
                </div>
                <div class="col-sm-6">
                  <b-form-input type="email" v-model="info.email" placeholder="Email"
                                class="contact-form__input" :required="true"></b-form-input>
                </div>
                <div class="col-sm-6">
                  <b-form-input type="text" v-model="info.vacancy" placeholder="Вакансия"
                                class="contact-form__input" :required="true"></b-form-input>
                </div>
              </div>
            </div>
            <div class="contact-form__part">
              <b-form-textarea placeholder="Сопроводительное письмо / Ссылки на примеры работы"
                               :rows="3"
                               :max-rows="6"
                               v-model="info.desc"
                               class="contact-form__input" :required="true">
              </b-form-textarea>
              <b-form-file v-model="info.file" placeholder="Прикрепить файл..."></b-form-file>
            </div>
            <input type="submit" class="primary-button mt-4" value="Отправить"/>
            <p class="contact-form__part mt-2">Нажимая на кнопку, вы даете согласие на обработку персональных данных и
              соглашаетесь с
              <nuxt-link :to="{name: 'privacy'}">политикой конфиденциальности</nuxt-link>
              .
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mask} from 'vue-the-mask'

  export default {
    name: "vacancy",
    directives: {mask},
    data() {
      return {
        info: {
          name: null,
          phone: null,
          email: null,
          vacancy: null,
          file: '',
          desc: null,
        },
        alertShow: false,
        alertText: null,
        alertVariant: null,
      }
    },
    methods: {
      formSend(e) {
        e.preventDefault()
        let formData = new FormData()
        Object.keys(this.info).forEach(key => formData.append(key, this.info[key]));
        this.$axios.post('https://api.vozduh.media/engine/vacancy/send/', formData)
          .then((response) => {
            e.target.reset()
            this.alertShow = true
            this.alertText = 'Ваше сообщение успешно отправлено!'
            this.alertVariant = 'success'
            this.$scrollTo('body')
            Object.keys(this.info).forEach(key => this.info[key] = '');
          })
          .catch((error) => {
            this.alertShow = true
            this.alertText = 'При отправки сообщения произошла ошибка! Повторите попытку позже.'
            this.alertVariant = 'danger'
            this.$scrollTo('body')
          });
      }
    },
    head() {
      return {
        title: 'Вакансии | Vozduh.media'
      }
    }
  }
</script>

<style scoped>

</style>
