<template>
  <div>
    <div class="container mb-5 mt-4">
      <div class="title">
        <h1 class="section-title">{{caseItem.title}}</h1>
        <!--<p class="subtitle"><a class="subtitle__link" href=""></a></p>-->
      </div>
      <div class="project__part mt-4" v-html="caseItem.full_desc">
      </div>
    </div>
    <related-items type="cases" :items="related" col="col-md-6" title="Еще несколько кейсов"></related-items>

  </div>
</template>

<script>
  import RelatedItems from '../../components/RelatedItems';

  export default {
    components: {RelatedItems},
    async asyncData({ app, params  }) {
      return await app.$axios.get(`https://api.vozduh.media/cases/${params.id}/`).then(response => {
        return {caseItem: response.data}
      }).catch((e) => {
        error({ statusCode: 404})
      })
    },
    computed: {
      related () {
        // Убираем текущий проект из списка похожих
        return this.$store.state.cases.filter(item => item.slug !== this.$route.params.id)
          .sort((a, b) => {
            return Math.random() - 0.5;
          }).slice(0,2)
      }
    },
    head () {
      let title = this.caseItem.seo_title !== null ? this.caseItem.seo_title : this.caseItem.title;
      return {
        title: title + ' | Vozduh Media',
        meta: [
          { hid: 'description', name: 'description', content: this.caseItem.seo_desc },
          { property: 'og:title', content: title + ' | Vozduh Media' },
          { property: 'og:description', content: this.caseItem.seo_desc },
        ],
      }
    }
  }
</script>
