<template>
  <div class="cases-page">
    <div class="container">
      <h1 class="section-title">Кейсы</h1>
      <div class="row">
        <div class="col-md-6" v-for="item in $store.state.cases" :key="item.slug">
          <portfolio-item
            :title="item.title"
            :image="item.thumbnail"
            :description="item.short_desc"
            :link="{name: 'cases', slug: item.slug}"
          ></portfolio-item>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import PortfolioItem from '../../components/PortfolioItem'

  export default {

    components: {
      PortfolioItem
    },
    head () {
      return {
        title: 'Кейсы | Vozduh Media'
      }
    }
  }
</script>
